<div class="container">
  <h1>Design choices for onboarding form</h1>
  <pre></pre>
  <p>
    I decided to go with a step approach to the form so that the sections of
    information can be clearly laid out for the user. This also means in the
    back end we can check that all required fields are validated per step. This
    stops the user getting all the way to the end of the form and having to
    scroll and find what they have missed or imputed incorrectly.
  </p>
  <pre></pre>
  <p>
    For the final confirm screen if this were to be a finished feature, I would
    also include all data laid out with the ability to go back and edit sections
    if the user found anything incorrect.
  </p>
  <pre></pre>
  <p>
    I believe this layout can make filling out a form a lot less monotonous as
    the end user is presented with only small sections rather than initially
    seeing many fields and becoming overwhelmed. Also this design is easier to
    optimize for mobile and smaller screen ensuring that on screen sizes can be
    catered for.
  </p>
  <pre></pre>
  <p>
    I have also added in some date pickers for any date fields so that the user
    does not input the date themselves as the format needs to be unified I
    assume before being passed into the back end.
  </p>
  <pre></pre>
  <p>
    Some information tooltips have also been added so that additional
    information can be displayed to the user about fields they may need help
    with (Tax codes, superannuation).
  </p>
  <pre></pre>
  <p>
    If development were to continue on this I would like to find out from the
    client whether or not this bank will be hiring internationally. If so I
    would need to add time zones and also a drop down for the phone number to
    select the region code.
  </p>
</div>
